@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');


body {
  	/* background: var(--main3); */
    background: #000000;
    height: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.3s;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 30px;
}

main {
  width: 960px;
	max-width: calc(100% - 2em);
	margin: auto; 
  margin-top: 50px; 
} 

.title {
  color: var(--main2);
  margin-bottom: 20px;
}

ul {
  margin: 20px;
  padding: 0px;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style-type: none;
}

ul li a {
  display: block;
}

h1 {
  color: var(--main4);
  overflow-wrap: break-word;
  hyphens: manual;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--main3);
}

.header {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: left;
  color: var(--main4);
}

.text {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--gray-dark));
}

a {
  color: darkblue;
  text-decoration-line: underline;
}

@media only screen and (max-width:480px) {
  img {
    width: 720px;
    height: auto;
  }
  ul {
  gap: 4rem;
  }
  h1 {
    font-size: 35px;
  }
}