@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');


main {
	width: 960px;
	max-width: calc(100% - 2em);
	margin: auto;
} 


body {
  	background: var(--main1);
  	height: 100dvh;
}

img {
  width: 720px;
  height: 360px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.3s;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

img:hover {
  transform: scale(0.98);
}

.title {
  margin: 0;
  color: rgb(var(--black));
}

ul {
  margin: 20px;
  padding: 0px;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style-type: none;
}

ul li a {
  display: block;
}

h1 {
  color: var(--main2);
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--main3);
}

h4 {
  text-align: left;
  font-weight: 500;
  margin-bottom: 10px;
  padding-top: 10px;
  color: var(--main3);
}

.main-grid {
  margin: 20px;
  padding: 0px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.header {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: left;
  color: var(--main3);
}

.text {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: #000000;
}



@media only screen and (max-width:480px) {
  img {
    width: 720px;
    height: 350px;
  }
  ul {
    gap: 4rem;
    grid-template-columns: auto;
  }
}