@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COLORS */

:root{
  /* MAIN COLORS */
  --main1: #eceae5;   /* beige */
  --main2: #808080;   /* grey */
  --main3: #000000;   /* black */
  --main4: #ffffff;   /* weiß */

  /* ACCENT COLORS*/
  --accent1: #c9cff7;   /* lavender */
  --accent2: #B9E5F0;   /* hellblau */
  --accent3: #f5c1d4;   /* lachs */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  color: var(--text-color);
}

/* TEXT */

h1 {
  font-size: 60px;
  color: #ffffff;
  margin: 0px;
  font-family: 'Unbounded';
  font-weight: 500;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  text-align: left;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  text-align: left;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-align: left;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

a {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-weight: 400px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

/* OTHER */

html {
  scroll-behavior: smooth;
}

.impressum {
  text-align: left;
}

.copyright {
  text-align: right;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}