@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: var(--main1);
    display: block;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

main {
    width: 960px;
	max-width: calc(100% - 2em);
	margin: auto;
}

h1 {
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}

h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

a {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 0px;
    margin: 30px;
    margin-bottom: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-word-break: break-word;
}

.information {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
    width: 250px;
    
}

.impressum {
    margin: 0px;
    padding: 0px;
    text-align: left !important;
}
.impressum h2 {
    text-align: left !important;
    margin-top: 20px;
}
.impressum h1 {
    margin-bottom: 30px !important;
}
.datenschutz {
    display: block !important;
    text-align: left !important;
}
.datenschutz p {
    display: block !important;
    text-align: left !important;
}
body {
    margin: 30px;
    display: block;
    text-align: left !important;
}
.datenschutz h2 {
    margin-top: 50px !important;
}
.datenschutz h3 {
    margin-top: 30px;
    margin-bottom: 8px;
}
.datenschutz h1{
    margin-top: 100px;
    text-align: left;
}