@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');


body {
  background: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #ffffff;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

.main-grid {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  position: absolute;
  transition: transform 400ms ease;
  place-content: center;
  grid-gap: 10px;
  z-index: -1;
  box-sizing: border-box;
  transform: translateY(-15px);
}

selector {
  clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 60%);
}

#gradient-canvas {
	position: absolute;
	height: 100vh;
	width: 100%;
  background-image: url("../public/assets/home/mesh-gradient.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100%;
  --gradient-color-1: #f27777; 
  --gradient-color-2: #43ecffe6; 
  --gradient-color-3: #d98989;  
  --gradient-color-4: #fec3c3;    
  opacity: 1;
  z-index: -400;
}

.article-section {
  background-color: rgba(256, 256, 256, 0.3);
  transition: 1s;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
}

.header {
  grid-column: 1 / 3;
  display: flex;
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 1s;
  z-index: -1;
}

.text {
  text-align: left;
  display: flex;
  width: 80%;
  height: 80%;
  align-items: flex-end;
  justify-content: flex-start;
  color: black;
  margin-left: 50px;
  margin-top: 10px;
  transition:  1s;
}

.footer {
  margin-top: 10px;
  margin-bottom: -20px;
  background-color: transparent;
  grid-column: 1 /3;
}

.impressum {
  text-align: left;
}

.copyright {
  text-align: right;
}

/* DEVICE SPECIFIC */

@media only screen and (max-width:550px) {
  .main-grid {
    padding-left: 30px;
    padding-top: 100px;
    padding-right: 30px;
    height: 100dvh;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .header {
    grid-column: 1 / 3;
    height: 8rem;
    margin-bottom: 100px;
  }

  .text {
  text-align: left;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 0px;
  margin-top: 0px;
  }

  footer {
    grid-column: 1 /3;
    height: 10px;
  }

  .impressum {
    text-align: left;
  }
  
  .copyright {
    text-align: right;
  }
}

@media only screen and (max-height:700px) {
  .header {
    margin-bottom: 50px;
  }
}

/* ANIMATION */

.about-me .photography .design .animation{
  transition: 1s;
}

.about-me:hover {
  transform: scale(0.9) rotate(-5grad);
}

.photography:hover {
  transform: scale(0.9) rotate(5grad);  
}
.design:hover {
  transform: scale(0.9) rotate(5grad);  
}
.animation:hover {
  transform: scale(0.9) rotate(-5grad); 
}