@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

/*
.morning {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: var(--accent1);
  background-image:
  radial-gradient(at 13% 64%, rgb(255, 237, 159) 0px, transparent 50%);
}

.noon {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: var(--accent2);
  background-image: radial-gradient(at 14% 1%, rgba(249, 236, 177, 0.5), transparent 70%);
}

.afternoon {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: var(--accent3);
  background-image:
  radial-gradient(at 82% 61%, rgb(255, 237, 159) 0px, transparent 50%);
}

.evening {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color:var(--accent1);
  background-image:
  radial-gradient(at 25% 6%, rgb(191, 192, 245) 0px, transparent 50%);
}
*/

body {
  background: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #ffffff;
}

h2 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #000000;
}

.main-grid {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  position: absolute;
  transition: transform 400ms ease;
  place-content: center;
  grid-gap: 10px;
  transition: 1s;
  z-index: -1;
  box-sizing: border-box;
  transform: translateY(-15px);
}

selector {
  clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 60%);
}

#gradient-canvas {
	position: absolute;
	height: 100vh;
	width: 100%;
  background-image: url("../public/assets/home/mesh-gradient.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100%;
  --gradient-color-1: #f27777; 
  --gradient-color-2: #43ecffe6; 
  --gradient-color-3: #d98989;  
  --gradient-color-4: #fec3c3;    
  opacity: 1;
  z-index: -400;
}

.article-section {
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
}

.header {
  grid-column: 1 / 3;
  display: flex;
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 1s;
  z-index: -1;
}


.text {
  text-align: left;
  display: flex;
  width: 80%;
  height: 80%;
  align-items: flex-end;
  justify-content: flex-start;
  color: black;
  margin-left: 50px;
  margin-top: 10px;
  transition:  1s;
}



@media only screen and (max-width:550px) {
  .main-grid {
    grid-column-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 15px;
    height: 100vh;
  }

  .header {
    grid-column: 1 / 3;
    margin-bottom: 100px;
  }

  .text {
  text-align: left;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: left;
  color: black;
  margin-left: 0px;
  margin-top: 0px;
  transform: translateY(-20px) translateX(20px);
  }

  footer {
    grid-column: 1 /3;
    height: 10px;
  }

  .impressum {
    text-align: left;
  }
  
  .copyright {
    text-align: right;
  }
}

/*
.evening-article {
  background-color:#6c72a8;
  background-image:
  radial-gradient(at 94% 2%, hsla(21, 82%, 69%, 0.3) 0px, transparent 50%),
  radial-gradient(at 33% 8%, hsla(83,78%,70%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 91%, hsla(232,85%,74%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 10%, hsla(191,93%,78%,0.3) 0px, transparent 50%),
  radial-gradient(at 94% 50%, hsla(303,79%,79%,0.3) 0px, transparent 50%),
  radial-gradient(at 12% 72%, hsla(152,80%,61%,0.3) 0px, transparent 50%),
  radial-gradient(at 74% 90%, hsla(278,95%,77%,0.3) 0px, transparent 50%);
}

.about-me {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
  background-color:#ffffff;
  background-image:
  radial-gradient(at 94% 2%, hsla(21, 86%, 70%, 0.3) 0px, transparent 50%),
  radial-gradient(at 33% 8%, hsla(83,78%,70%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 91%, hsla(232,85%,74%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 10%, hsla(191,93%,78%,0.3) 0px, transparent 50%),
  radial-gradient(at 94% 50%, hsla(303,79%,79%,0.3) 0px, transparent 50%),
  radial-gradient(at 12% 72%, hsla(152,80%,61%,0.3) 0px, transparent 50%),
  radial-gradient(at 74% 90%, hsla(278,95%,77%,0.3) 0px, transparent 50%);
  transition: 1s;
}


.photography {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
  background-color:#ffffff;
  background-image:
  radial-gradient(at 94% 2%, hsla(20,96%,64%,0.3) 0px, transparent 50%),
  radial-gradient(at 33% 8%, hsla(83,78%,70%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 91%, hsla(232,85%,74%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 10%, hsla(191,93%,78%,0.3) 0px, transparent 50%),
  radial-gradient(at 94% 50%, hsla(303,79%,79%,0.3) 0px, transparent 50%),
  radial-gradient(at 12% 72%, hsla(152,80%,61%,0.3) 0px, transparent 50%),
  radial-gradient(at 74% 90%, hsla(278,95%,77%,0.3) 0px, transparent 50%);
  transition: 1s;
}

.design {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
  background-color:#ffffff;
  background-image:
  radial-gradient(at 94% 2%, hsla(20,96%,64%,0.3) 0px, transparent 50%),
  radial-gradient(at 33% 8%, hsla(83,78%,70%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 91%, hsla(232,85%,74%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 10%, hsla(191,93%,78%,0.3) 0px, transparent 50%),
  radial-gradient(at 94% 50%, hsla(303,79%,79%,0.3) 0px, transparent 50%),
  radial-gradient(at 12% 72%, hsla(152,80%,61%,0.3) 0px, transparent 50%),
  radial-gradient(at 74% 90%, hsla(278,95%,77%,0.3) 0px, transparent 50%);
  transition:  1s;
}

.animation {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment:local;
  background-color:#ffffff;
  background-image:
  radial-gradient(at 94% 2%, hsla(20,96%,64%,0.3) 0px, transparent 50%),
  radial-gradient(at 33% 8%, hsla(83,78%,70%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 91%, hsla(232,85%,74%,0.3) 0px, transparent 50%),
  radial-gradient(at 66% 10%, hsla(191,93%,78%,0.3) 0px, transparent 50%),
  radial-gradient(at 94% 50%, hsla(303,79%,79%,0.3) 0px, transparent 50%),
  radial-gradient(at 12% 72%, hsla(152,80%,61%,0.3) 0px, transparent 50%),
  radial-gradient(at 74% 90%, hsla(278,95%,77%,0.3) 0px, transparent 50%);
  transition:  1s;
}

.about-me:hover {
  transform: scale(0.9) rotate(-5grad);
}

.photography:hover {
  transform: scale(0.9) rotate(5grad);  
}
.design:hover {
  transform: scale(0.9) rotate(5grad);  
}
.animation:hover {
  transform: scale(0.9) rotate(-5grad); 
}
*/

.article-section {
  background-color: rgba(256, 256, 256, 0.3);
  transition: 1s;
  border-radius: 30px;
  backdrop-filter: blur(20px);
}

.about-me .photography .design .animation{
  transition: 1s;
}

.about-me:hover {
  transform: scale(0.9) rotate(-5grad);
}

.photography:hover {
  transform: scale(0.9) rotate(5grad);  
}
.design:hover {
  transform: scale(0.9) rotate(5grad);  
}
.animation:hover {
  transform: scale(0.9) rotate(-5grad); 
}


.footer {
  margin-top: 10px;
  margin-bottom: -20px;
  background-color: transparent;
  grid-column: 1 /3;
}

.impressum {
  text-align: left;
}

.copyright {
  text-align: right;
}