@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

body {
  background: var(--accent3);
  height: 100%;
  max-width: 100%;
}

h1 {
  color: white !important;
  text-align: center;
  color: var(--main2);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--main3);
}

.main-grid {
  margin: 0px;
  padding: 15px;
  padding-left: 150px;
  padding-right: 150px;
  box-sizing: border-box;
}

.container {
    overflow: hidden;
    flex-direction: row;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
  
.filterDiv {
    color: #ffffff;
    text-align: center;
    display: none; /* Hidden by default */
    height: 400px;
    position: relative;
    flex-grow: 1;
    margin-bottom: 60px;
}

.description {
  margin-top: 10px;
  font-size: 12pt;
}


.container::after {
  content: "";
  flex-grow: 15;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: middle;
}


/* Style the buttons */
.btn {
    border: 1px solid rgb(84, 84, 84, 0);
    padding: 12px 16px;
    color: black;
    background-color: rgba(255, 255, 255, 0.397);
    cursor: pointer;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-right: 2px;
    font-weight: 300;
}

i {
  padding-right: 3px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    border: 1px solid rgba(84, 84, 84, 0);
    background-color: rgb(255, 255, 255, 1);
    color: black;
}

/* Add a dark background to the active button */
.btn.active {
    border: 1px solid rgba(84, 84, 84, 0);
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

#myBtnContainer {
    margin-bottom: 10px;
}

.headline-desktop {
  display: block;
}
.headline-mobile {
  display: none;
}

@media only screen and (max-width:700px) {
  .main-grid {
    margin: 0px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .headline-desktop {
    display: none;
  }
  .headline-mobile {
    display: block;
  }
}