@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

body {
  background: var(--accent3);
  height: 100%;
  max-width: 100%;
}

h1 {
  color: white !important;
  text-align: center;
  color: var(--main2);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--main3);
}

.main-grid {
  margin: 0px;
  padding: 15px;
  padding-left: 150px;
  padding-right: 150px;
  box-sizing: border-box;
  transition: 1s;
}

.blur {
  z-index: 1000;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  float: center;
  position: absolute;
}

.container {
  overflow: hidden;
  flex-direction: row;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
  
.filterDiv {
  color: #ffffff;
  text-align: center;
  display: none; /* Hidden by default */
  height: 300px;
  width: 300px;
  position: relative;
  flex-grow: 1;
  margin-bottom: 0px;
}

.sl-wrapper .sl-image .sl-caption{
  font-family:'Unbound',
}

.container::after {
  content: "";
  flex-grow: 15;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}


/* Style the buttons */
.btn {
  border: 1px solid rgb(84, 84, 84, 0);
  padding: 12px 16px;
  color: black;
  background-color: rgba(255, 255, 255, 0.397);
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-right: 2px;
  font-weight: 300;
}

i {
  padding-right: 3px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  border: 1px solid rgba(84, 84, 84, 0);
  background-color: rgb(255, 255, 255, 1);
  color: black;
}

/* Add a dark background to the active button */
.btn.active {
  border: 1px solid rgba(84, 84, 84, 0);
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

#myBtnContainer {
  margin-bottom: 10px;
}

@media only screen and (max-width:960px) {
  .main-grid {
    padding-left: 50px;
    padding-right: 50px;
    transition: 1s;
  }

  .filterDiv {
    width: 200px;
    height: 200px;
    transition: 1s;
  }

  img {
    height: 200px;
    transition: 1s;
  }
}

@media only screen and (max-width:560px) {
  .main-grid {
    padding-left: 10px;
    padding-right: 10px;
    transition: 1s;
  }

  .headline {
    font-size: 30pt;
  }

  .filterDiv {
    height: 200px;
    width: 48%;
  }
}