#Automatische HTTPS weiterleitung

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{HTTP_HOST} !^www.domi-lange.de$ [NC]
RewriteRule ^(.*)$ https://www.domi-lange.de/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.domi-lange.de/$1 [R=301,L]

</IfModule>