---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import '../styles/global-style.css';
import '../styles/photography-undersite-style.css';
import MyFooter from '../components/MyFooter.astro';

type Props = CollectionEntry<'photography'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<main>
			<div class="container">
				<div class="title">
					<h1>{title}</h1>
				</div>
				<div class="main-grid">
					<slot />
				</div>
				<MyFooter />
			</div>
		</main>
	</body>
</html>
